<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Style>
        .container-nav{
            border: 1px solid black;
            height: 70px;
        }
        .container-nav li{
            list-style: none;
            float: inline-start;
            margin: 20px ;
            padding: 10px;
            position: relative;
            top: -5px;
            border: 1px solid gray;
            border-radius: 10px;
            height: 20px;
            width: 90px;
            text-align: center;
            background-color: rgba(128, 128, 128, 0.189);
            justify-content: space-between;
        }
        .container-nav li:hover{
            cursor: pointer;
            box-shadow: 1px 1px 1px 1px black;
        }
        .list-item{
            position: relative;
            justify-content: space-between;
            left: 100px;
            
        }
    </Style>
</head>
<body>
    <div class="container-nav">
        <div class="list-item">
            <li>Home</li>
            <li>Add Blog</li>
            <li>Contact us</li>
        </div>
    </div>
</body>
</html>